body {
    font-family: 'Covered By Your Grace', cursive;
    margin: 0 110px 0 110px;
    text-align: center;
    background-color: white;
    background-size: cover;
}

#container {
    display: flex;
    align-items: center;
}

#playerOne {
    width: 30%;
    order: 2;
    padding: 30px;
}

#playerTwo {
    width: 50%;
    order: 3;
    padding: 30px;
}

p1 {
    font-size: 45px;
    padding: 10px;
}

#word-field, #submit-word {
    font-size: 20px;
    padding: 10px;
}

.dashes span {
    color: #000000;
    font-size: 40px;
}

.dashes div {
    margin: 20px;
    font-size: 60px;
    font-family: 'Bangers', serif;
}

a:hover {
    background-color: rgb(128,0,0);
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: red;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 20px;
    margin: 10px 15px 0 15px;
}
